
:root{
    --branco: #ffffff;
    --bracoc: #ecebeb;
    --pretoEsc: #0a0a0a;
    --pretoCla: #1b1b1b ;
}

body{
    margin: 0;
    background-color: var(--pretoCla);
}

.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.gap{
    gap: 1rem;
}

/*  POSIÇÕES,COMANDOS PARA POSICIONAMENTO;COMANDOS PARA PROPORÇÃO   */
.central{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.esquerda{
    display: flex;
    justify-content: left;
    margin-left: 2rem;
    flex-wrap: wrap;
}


.centro{
    display: flex;
    justify-content: left;
    margin-left: 25rem;
    flex-wrap: wrap;
}

.meio{
    display: flex;
    align-items: center;
}

.topo{
    display: flex;
    height: 7rem;

}

.full-content{
    width: 60%;

}

.redondo{
    border-radius: 10px;
    border: 3px solid var(--bracoc);
}

.padCima{
    padding-top: 1rem;
}


.titulo{
    color: var(--branco);
    font-size: 4rem;
    font-weight: bolder;
}

.subtitulo{
    color: var(--branco);
    font-size: 3rem;
    font-weight: bold;
    border-top: solid 0.1rem var(--branco);
    margin-top: 1rem;
}

.texto{
    color: var(--bracoc);
    font-size: 2rem;
}

.texto-topo{
    color: var(--bracoc);
    font-size: 3rem;
}

.texto-imagem{
    color: var(--bracoc);
    font-size: 1.5rem;
}

.lista{
    list-style-type: disc;
}

.lista li::marker{
    color: var(--branco);
}

header{
    position: fixed;
    width: 100%;
    background-color: var(--pretoEsc);
    margin-bottom: 1rem;
}

.logos{
    margin-left: 2rem;
}

.logo{
    height: 5rem;
}

.nav{
    margin-right: 2rem;
}

.aHead{
    color: var(--branco);
    text-decoration: none;
    font-size: 1.5rem;
}

.divisor{
    border: 1px solid white;
    margin-left: 62rem;
    margin-top: -60rem;
    height: 100rem;
    width: 0px;
}

main{
    padding-top: 5rem;
    background-color: var(--pretoCla); 
    
}

