
:root{
    --branco: #ffffff;
    --bracoc: #ecebeb;
    --pretoEsc: #0a0a0a;
    --pretoCla: #1b1b1b ;
}

body{
    margin: 0;
}

.flex-space{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.625rem;
}

.centro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.meio{
    display: flex;
    align-items: center;
}

.full-content{
    width: 60%;
}

.padCima{
    padding-top: 1rem;
}

.imagem{
    height: 18rem;
}

.titulo{
    color: var(--branco);
    font-size: 3rem;
    font-weight: bolder;
}

.subtitulo{
    color: var(--branco);
    font-size: 2rem;
    font-weight: bold;
}

.texto{
    color: var(--bracoc);
    font-size: 1.5rem;
}

.lista{
    list-style-type: disc;
}

.lista li::marker{
    color: var(--branco);
}

header{
    position: fixed;
    width: 100%;
    background-color: var(--pretoEsc);
}

.logo{
    height: 5rem;
}

.aHead{
    color: var(--branco);
    text-decoration: none;
}

main{
    padding-top: 5rem;
    background-color: var(--pretoCla); 
    
}

